.App {
    text-align: center;
    background: url("./assets/images/money.png") no-repeat center center fixed;
    z-index: 5;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

body {
    background-color: #b8bec5;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.topLineBugFix {
    margin: 0;
    padding: 0;
}

.buffer {
    height: 5vh;
    /* border: 2px solid red; */
}
